<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1><%= title %></h1>

    <nav>
        <a href="/">Home</a> |
        <a href="/about">About</a> |
        <a href="/contact">Contact</a>
    </nav>

    <h3>My name is Jenilyn W. Zaulda, 3rd year college taking Bachelor of Science in Information Technology.</h3>
    <p>I love to write poems when I'm feeling down and hopeless when i don't have anyone to talk to.</p>
</body>
</html>
